include "~/.cache/matugen/niri.kdl"
// -- No client-side decorations --
prefer-no-csd
// -- Disable saving screenshots to disk --
// screenshot-path null
// -- Startup services --
spawn-sh-at-startup "awww-daemon & while ! awww query > /dev/null 2>&1; do sleep 0.1; done && awww img ~/.cache/current-wallpaper --transition-type random"
spawn-at-startup "wl-gammarelay-rs"
// -- Keybinds --
binds {
    // -- Spawn applications --
    Mod+B hotkey-overlay-title="Zen: Web Browser" {
        spawn "zen-beta"
    }
    Mod+E hotkey-overlay-title="Nautilus: File Explorer" {
        spawn "nautilus"
    }
    Mod+V hotkey-overlay-title="ClipHist: Clipboard Manager" {
        spawn "sh" "-c" "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"
    }
    Mod+Escape hotkey-overlay-title="Bottom: Process Viewer" {
        spawn "ghostty" "-e" "btop"
    }
    Mod+Period hotkey-overlay-title="Smile: Emoji Picker" {
        spawn "smile"
    }
    Mod+Return hotkey-overlay-title="Ghostty: Terminal Emulator" {
        spawn "ghostty"
    }
    Mod+Space hotkey-overlay-title="Fuzzel: Application Launcher" {
        spawn "fuzzel"
    }
    // -- Misc --
    Mod+A hotkey-overlay-title="Minos: Control Center" {
        spawn "minos" "ipc" "call" "controlcenter" "toggle"
    }
    Mod+F hotkey-overlay-title="Maximize Focused Window" {
        fullscreen-window
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-workspace-down
    }
    Mod+K {
        focus-workspace-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Q {
        close-window
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+W {
        toggle-overview
    }
    Mod+Equal hotkey-overlay-title="Focused Window Width +5%" {
        set-column-width "+5%"
    }
    Mod+Minus hotkey-overlay-title="Focused Window Width -5%" {
        set-column-width "-5%"
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+J {
        move-window-to-workspace-down
    }
    Mod+Shift+K {
        move-window-to-workspace-up
    }
    Mod+Shift+L {
        move-column-right
    }
    // idk why this is needed
    Mod+Shift+R hotkey-overlay-title="Set Focused Window Width to 50%" {
        set-column-width "50%"
    }
    Mod+Shift+V {
        toggle-window-floating
    }
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    // -- Manage session --
    Mod+Alt+L hotkey-overlay-title="Lock Session" {
        spawn "loginctl" "lock-session"
    }
    Mod+Alt+S hotkey-overlay-title="Suspend Session" {
        spawn "systemctl" "suspend"
    }
    Mod+Alt+E {
        quit
    }
    // -- Quick controls --
    Print {
        screenshot
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "-l" "1.0" "@DEFAULT_AUDIO_SINK@" "0.05+"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "10%+"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "10%-"
    }
}
// -- Mouse cursor settings
cursor {
    hide-when-typing
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}
// -- Gestures --
gestures {
    hot-corners {
        off
    }
}
// -- Prevent Niri from showing default hotkeys on startup
hotkey-overlay {
    skip-at-startup
}
// -- Input settings --
input {
    touchpad {
        accel-speed 0.8
        natural-scroll
        tap
    }
}
// -- Application-specific layer rules --
layer-rule {
    exclude namespace="^minos-space-reserver$"
    exclude namespace="^notifications$"
    background-effect {
        blur true
        xray false
    }
    shadow {
        on
    }
}
layer-rule {
    match namespace="^launcher$"
    geometry-corner-radius 20
}
layer-rule {
    match namespace="^minos-clock$"
    match namespace="^minos-control-center$"
    match namespace="^minos-controls-trigger$"
    match namespace="^minos-focused-window-title$"
    match namespace="^minos-power-popup$"
    match namespace="^minos-power-trigger$"
    match namespace="^minos-media-player$"
    match namespace="^minos-system-tray$"
    match namespace="^minos-workspace-switcher$"
    geometry-corner-radius 14
}
// -- Window layout rules --
layout {
    always-center-single-column
    gaps 8
    border {
        width 6
    }
    default-column-width {
        proportion 0.8
    }
    focus-ring {
        off
    }
    shadow {
        on
    }
    preset-column-widths {
        proportion 1.0
        proportion 0.8
        proportion 0.5
    }
}
// -- Monitor settings --
output "eDP-1" {
    scale 1.0
}
// -- Window switcher settings --
recent-windows {
    highlight {
        corner-radius 10
    }
}
// -- Global window rules --
window-rule {
    clip-to-geometry true
    draw-border-with-background false
    geometry-corner-radius 10
    background-effect {
        blur true
        xray true
    }
}
// -- Application-specific window rules --
window-rule {
    exclude app-id="imv"
    exclude app-id="mpv"
    exclude app-id="org.gnome.Snapshot"
    exclude app-id="chromium" title="Crunchyroll"
    exclude app-id="chromium" title="YouTube"
    // exclude app-id="chromium" title="tanarc"
    exclude app-id="zed"
    exclude title="Crunchyroll"
    exclude title="YouTube"
    opacity 0.9
}
window-rule {
    match title="YouTube Music"
    opacity 0.9
}
window-rule {
    match app-id="smile"
    open-floating true
    default-column-width {
        fixed 400
    }
    default-window-height {
        fixed 490
    }
}
window-rule {
    match app-id="zed" title="Settings"
    open-floating true
    background-effect {
        xray false
    }
}

